* {
    padding:0;
    margin:0;
}
body {
    background-color: #000000;
}
.title {
    background-color: #4a7bca;
    color:white;
    height:100vh;/*vh=視窗大小的幾%*/
    /*background-image: url("images/banner.jpg");*/
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
} 
.title h2 {
    font-size:60px;
    margin-top:60px;
    align-items: center; /* 讓內容水平置中 */
    justify-content: center; /* 讓內容垂直置中 */
    text-align: center; /* 確保多行文字也置中 */
} 
.title p {
    color:white;
    font-size:30px;
    margin:25px 0;
}
.title a {
    color:white;
    text-decoration: none;
    border: 1px solid #ACACAC;
    padding:10px 20px;
    border-radius: 5px;
}
.slogan {
    background-color:#485652;
    color:white;
    height:250px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.8em;  
}
.info {
    display:flex;
}
.info div {
    width:50%;
    
}
.about {
    background-color: #9996e3;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.about img {
    width: 100%; /* 讓圖片適應區塊 */
    max-width: 350px; /* 限制圖片最大寬度 */
    border-radius: 10px;
}
.about ul {
    list-style-type: disc;
    text-align: left;
    padding-left: 20px;
}

.about li {
    color: #2f3336;
    font-size: 24px; /* 調整字體大小 (30)*/
    margin-bottom: 25px; /* 減少行距 (30)*/
}
.hobbies {
    display:flex;
    flex-wrap: wrap;
    background-color: #ede9db;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px 80px;
}
.hobbies div {
    width: calc(25% - 20px); /* 讓一行最多 4 個 */
    text-align:center;
}
.hobbies img {
    width:50%;
    border-radius: 10px;;
}
.hobbies h3 {
    font-size: 20px;    
    margin: 20px 0;
}
.hobbies p {
    font-size:14px;
    line-height: 1.6em;
}
.titleletter {
    background-color:#485652;
    color:white;
    padding:60px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.titleletter p {
    margin-bottom: 20px;
}
.titleletter input, .titleletter button {
    background-color: transparent;
    color:white;
    border: 1px solid #949d9a; 
    padding: 10px; 
    border-radius: 5px;;
}
.titleletter input {
    width:200px;
    margin-right: 15px;;
}
.titleletter button {
    width:80px;
    cursor:pointer;
}
input::placeholder {
    color:#DDDDDD;
}
input:focus {
    outline: none; /* 移除焦點效果 */
    border-color:#E0E9A3; /* 焦點時的邊框顏色 */
}
footer {
    background-color:#000000;
    color:#B7B7B7;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.menu {
    display:none;
}
/* 響應式設計語法 */
@media screen and (max-width: 768px) {
header ul {
    display:none;
}
header h1 {
    left:50%;
    transform: translateX(-50%);
}
.title h2 {
    font-size:40px;
    align-items: center; /* 讓內容水平置中 */
    justify-content: center; /* 讓內容垂直置中 */
    text-align: center; /* 確保多行文字也置中 */
}
.title p {
    align-items: center; /* 讓內容水平置中 */
    justify-content: center; /* 讓內容垂直置中 */
    text-align: center; /* 確保多行文字也置中 */
}
.menu {
    display:block;
    background-color: transparent;
    color:white;
    font-size: 35px;
    position:absolute;
    top:15px;
    left:20px;
    border:none;
    cursor: pointer;
}
.info {
    flex-direction: column;
}
.info div {
    width:100%;
    
}
.info img {
    width:100%;
}
.about {
    width:100%;
    padding:40px 0;
}
.about h2 {
    font-size:30px;
}
.hobbies {
    flex-direction: column;
    padding: 60px 0;
}
.hobbies img {
    width:100%;
    border-radius: 10px;;
}
.hobbies div {
    margin-bottom: 30px;
}
}